<footer class="footer">
    <div class="left">
    </div>
    <div class="center">
        <ul>
            <a href="https://github.com/{{ site.github_username }}"><i class="fab fa-github"></i></a>
            <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fab fa-twitter"></i></a>
            <a href="https://twitch.tv/{{ site.twitch_username }}"><i class="fab fa-twitch"></i></a>
        </ul>
    </div>
    <div class="right">
            &copy; {{ site.time | date: '%Y' }}&emsp;<span></span> eL-Falso
    </div>
</footer>
