body {
  font-family: Merriweather;
  background-color: $medium-gray;
  color: $light-gray;
}

a {
  text-decoration: none;
}

%headline {
  &::before {
    content: "//";
    color: $green;
    padding-right: .2em;
  }
}

// #wrapper {
//   background-color: #272820;
//   border: 2px solid #1b1d1e;
//   border-left: 0;
//   border-right: 0;
//   top: 0;
//   position: sticky;
// }

.site-content {
  background-color: lighten($dark-gray, 5);
  border-radius: 1em;
  box-shadow: 12px 0 10px -6px rgba($dark-gray, .8), -12px 0 10px -6px rgba($dark-gray, .8);
  margin: .5em auto;
  max-width: 60%;
  padding: 5px 0;
}

a {
  color: $base-link-color;

  &:hover {
    color: $hover-link-color;
  }

  // &:focus {

  // }

  // &:hover,
  // &active {

  // }
}

// ul {
// }

li a {
  font-size: 1.3em;
  font-weight: 100;
  text-decoration: none;

  &::before,
  &::after {
    background: $black;
    content: '';
    height: 2px;
    position: absolute;
    transition: all .3s;
    width: 0%;
  }

  &::before {
    left: 0;
    top: 0;
  }

  &::after {
    bottom: 0;
    right: 0;
  }

  &:hover::before,
  &:hover::after {
    width: 100%;
  }
}

.menu-item {
  display: inline-flex;
  //margin-right: 1.25em;
  margin: 0 .625em;
  text-align: center;

  > a {
    color: $light-gray;
    //-webkit-text-stroke-width: 1px;
    //-webkit-text-stroke-color: blueviolet;
    //text-shadow: -1px -1px 0 $medium-light-gray, 1px -1px 0 $medium-light-gray, -1px 1px 0 $medium-light-gray, 1px 1px 0 $medium-light-gray;

    &:hover {
      color: $medium-light-gray;
    }
  }
}

// .main-content {
// }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.container {
  margin: 1.25em;
}

.line {
  box-shadow: 0 -14px 14px -14px rgba($black, .75);
  height: 1px;
  margin-left: 5%;
  padding-top: 50px;
  width: 90%;
}

.proj-item {
  border: 1px solid $black;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
  margin: 16px;
  overflow: hidden;
  text-align: center;
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;


  @media (min-width: 576px) {
    flex: 0 0 25%;
    flex-flow: row wrap;
    max-width: 25%;
  }

  &:hover {
    box-shadow: 0 0 10px 5px $box-drop-shadow;
  }

  .proj-title {
    background-image: linear-gradient(to bottom, rgba($black, 0) 0%, darken($medium-gray, 10) 20%);
    display: flex;
    flex: 1 1 auto;
    margin-top: -32px;
    padding: .5em;
    padding-top: 16px;

    > div {
      flex-grow: 1;
      margin-top: .5em;
    }
  }

  .proj-image {
    max-height: 300px;
  }
}

.footer {
  align-content: space-between;
  display: flex;
  font-size: 1.2em;
  margin: 1.25em;

  .left {
    margin-right: auto;
  }

  .center {
    margin: 0 auto;
  }

  .right {
    display: inline-flex;
    margin-left: auto;
    align-items: center;
  }

  span {
    background: url('/assets/Falso32x32_new.png') 0 0 no-repeat;
    background-size: 16px 16px;
    height: 16px;
    position: relative;
    top: -3px;
    width: 16px;
  }
}

.game-title {
  font-weight: bold;
  margin-top: 1.25em;
  text-align: center;

  > h1 {
    font-weight: 700;
    font-size: 3em;
  }
}

.game-minibar {
  margin-top: .3125em;
  text-align: center;
}

.game-description {
  color: $light-gray;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 1.1em;
  line-height: 1.84em;
  margin-top: .3125em;

  h1 {
    @extend %headline;
  }
}

.project-download {
  line-height: normal;
  margin-top: .3125em;
}

.nav {
  background: rgba($black, .9);
  border-radius: 5px;
  display: inline-flex;
  font-size: 1.25em;
  justify-content: center;
  margin: .75em auto;
  margin-top: 1.2em;
  max-width: 25%;
  padding: .25em 0;

  > a {
    color: $light-gray;
  }
}

.fixed-top {
  left: 50%;
  position: fixed;
  right: 50%;
  top: 0;
  margin-left: -220px;
  margin-right: -220px;
  word-break: normal;
}

.tags {
  background: $orange;
  border-radius: .42em;
  display: inline-flex;
  margin-right: .42em;
  margin-bottom: .42em;

  &:hover {
    background: $blue;
  }

  > a {
    padding: .25em .5em;

  }
}

.categories {
  margin-top: 1.42em;
}

.fa {
  color: $orange;
}

h2 {
  color: $green;
  font-size: 1.4em;
  font-weight: 700;
  border-bottom: 1px solid $white;
}

.section-title {
  h2 {
    > span {
      padding-bottom: 20px;
      display: inline-block;
    }
  }
 }

.download {
  display: flex;
  justify-content: center;
  margin: .75em auto;
}

%btn {
  background: $orange;
  border: 1px solid;
  border-radius: .42em;
  display: inline-flex;
  margin: .5em;
  text-align: center;

  > i {
    margin: 0 auto;
  }

  > a {
    font-size: 1.5em;
    padding: .25em .5em;
  }
}

.btn {
  &-itch {
    @extend %btn;
    $color: $pink;
    background: $dark-gray;
    border-color: $color;

    > a {
      color: $color;
    }
  }

  &-Steam {
    @extend %btn;
    $color: $white;
    background: $dark-gray;
    border-color: $color;

    > a {
      color: $color;
    }
  }
}

.project-images {
  max-width: 256px;
}

.wrapper {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.screenshot {
  border: 1px solid $medium-light-gray;
  border-radius: 8px;
  margin-bottom: 10px;
  object-fit: cover;
  width: 100%;
}

.post {
  margin-bottom: 1em;

  h1 {
    margin-bottom: .75em;
    margin-top: 1.5em;

    &::before {
      content: "//";
      color: $green;
      padding-right: .2em;
    }
  }
}

.pager {

  > a {
    color: $green;
    font-size: 1.5em;
    font-weight: 700;
  }

  > .previous {
    margin-right: auto;
  }

  > .next {
    margin-left: auto;
  }
}

.post-preview {
  margin-bottom: 1.5em;
  border-bottom: 1px solid $white;

  > a {
    color: $light-gray;

    > .post-title {
      padding-bottom: .25em;
    }

    > .post-subtitle {
      
    }

    > .post-content-preview {
      line-height: 1.25em;
      margin: .5em 0;
    }

    &:hover {
      color: $medium-light-gray;
    }
  }



  > .post-meta {
    color: $green;
    padding-bottom: .25em;
    line-height: 1.25em;
  }
}

.justify-content-between {
  justify-content: space-between;
}

.d-flex {
  display: flex;
}

.outer {
  display: grid;
  grid-template: 1fr / 1fr;
  place-items: center;
}
.outer > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}
.outer .below {
  width: 100%;
  height: 100%;
  z-index: 2;
}
.outer .top {
  z-index: 1;
}

.lol {
  &:hover{
    box-shadow: 0 0 10px 5px $box-drop-shadow;
  }
}

.some-other-class {
  width: auto;
  height: auto;
  margin: .5em;
}

.gallery {

  > p {
    text-align: center;
  }
}