// Colors - Monokai
$dark-gray: #1b1d1e;
$medium-gray: #272820;
$medium-light-gray: #3e3d32;
$light-gray: #75715e;
$white: #f8f8f2;
$pink: #f92672;
$orange: #fd971f;
$yellow: #e6db74;
$blue: #66d9ef;
$green: #a6e22e;
$violet: #ae81ff;

// Colors
$black: #000;

// Link Colors
$base-link-color: $medium-light-gray;
$hover-link-color: darken($base-link-color, 30);

$box-drop-shadow: adjust-color(darken($blue, 10), $alpha: -.8);
//rgba(102, 217, 239, .2);
