body { font-family: Merriweather; background-color: #272820; color: #75715e; }

a { text-decoration: none; }

.game-description h1::before { content: "//"; color: #a6e22e; padding-right: .2em; }

.site-content { background-color: #272a2b; border-radius: 1em; box-shadow: 12px 0 10px -6px rgba(27, 29, 30, 0.8), -12px 0 10px -6px rgba(27, 29, 30, 0.8); margin: .5em auto; max-width: 60%; padding: 5px 0; }

a { color: #3e3d32; }

a:hover { color: black; }

li a { font-size: 1.3em; font-weight: 100; text-decoration: none; }

li a::before, li a::after { background: #000; content: ''; height: 2px; position: absolute; transition: all .3s; width: 0%; }

li a::before { left: 0; top: 0; }

li a::after { bottom: 0; right: 0; }

li a:hover::before, li a:hover::after { width: 100%; }

.menu-item { display: inline-flex; margin: 0 .625em; text-align: center; }

.menu-item > a { color: #75715e; }

.menu-item > a:hover { color: #3e3d32; }

.row { display: flex; flex-wrap: wrap; justify-content: center; }

.container { margin: 1.25em; }

.line { box-shadow: 0 -14px 14px -14px rgba(0, 0, 0, 0.75); height: 1px; margin-left: 5%; padding-top: 50px; width: 90%; }

.proj-item { border: 1px solid #000; border-radius: 16px; display: flex; flex-direction: column; font-size: 1.25em; margin: 16px; overflow: hidden; text-align: center; width: 100%; flex-grow: 1; flex-shrink: 1; flex-basis: auto; }

@media (min-width: 576px) { .proj-item { flex: 0 0 25%; flex-flow: row wrap; max-width: 25%; } }

.proj-item:hover { box-shadow: 0 0 10px 5px rgba(56, 206, 234, 0.2); }

.proj-item .proj-title { background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #0b0c09 20%); display: flex; flex: 1 1 auto; margin-top: -32px; padding: .5em; padding-top: 16px; }

.proj-item .proj-title > div { flex-grow: 1; margin-top: .5em; }

.proj-item .proj-image { max-height: 300px; }

.footer { align-content: space-between; display: flex; font-size: 1.2em; margin: 1.25em; }

.footer .left { margin-right: auto; }

.footer .center { margin: 0 auto; }

.footer .right { display: inline-flex; margin-left: auto; align-items: center; }

.footer span { background: url("/assets/Falso32x32_new.png") 0 0 no-repeat; background-size: 16px 16px; height: 16px; position: relative; top: -3px; width: 16px; }

.game-title { font-weight: bold; margin-top: 1.25em; text-align: center; }

.game-title > h1 { font-weight: 700; font-size: 3em; }

.game-minibar { margin-top: .3125em; text-align: center; }

.game-description { color: #75715e; font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size: 1.1em; line-height: 1.84em; margin-top: .3125em; }

.project-download { line-height: normal; margin-top: .3125em; }

.nav { background: rgba(0, 0, 0, 0.9); border-radius: 5px; display: inline-flex; font-size: 1.25em; justify-content: center; margin: .75em auto; margin-top: 1.2em; max-width: 25%; padding: .25em 0; }

.nav > a { color: #75715e; }

.fixed-top { left: 50%; position: fixed; right: 50%; top: 0; margin-left: -220px; margin-right: -220px; word-break: normal; }

.tags { background: #fd971f; border-radius: .42em; display: inline-flex; margin-right: .42em; margin-bottom: .42em; }

.tags:hover { background: #66d9ef; }

.tags > a { padding: .25em .5em; }

.categories { margin-top: 1.42em; }

.fa { color: #fd971f; }

h2 { color: #a6e22e; font-size: 1.4em; font-weight: 700; border-bottom: 1px solid #f8f8f2; }

.section-title h2 > span { padding-bottom: 20px; display: inline-block; }

.download { display: flex; justify-content: center; margin: .75em auto; }

.btn-Steam, .btn-itch { background: #fd971f; border: 1px solid; border-radius: .42em; display: inline-flex; margin: .5em; text-align: center; }

.btn-Steam > i, .btn-itch > i { margin: 0 auto; }

.btn-Steam > a, .btn-itch > a { font-size: 1.5em; padding: .25em .5em; }

.btn-itch { background: #1b1d1e; border-color: #f92672; }

.btn-itch > a { color: #f92672; }

.btn-Steam { background: #1b1d1e; border-color: #f8f8f2; }

.btn-Steam > a { color: #f8f8f2; }

.project-images { max-width: 256px; }

.wrapper { display: inline-flex; justify-content: space-between; width: 100%; }

.screenshot { border: 1px solid #3e3d32; border-radius: 8px; margin-bottom: 10px; object-fit: cover; width: 100%; }

.post { margin-bottom: 1em; }

.post h1 { margin-bottom: .75em; margin-top: 1.5em; }

.post h1::before { content: "//"; color: #a6e22e; padding-right: .2em; }

.pager > a { color: #a6e22e; font-size: 1.5em; font-weight: 700; }

.pager > .previous { margin-right: auto; }

.pager > .next { margin-left: auto; }

.post-preview { margin-bottom: 1.5em; border-bottom: 1px solid #f8f8f2; }

.post-preview > a { color: #75715e; }

.post-preview > a > .post-title { padding-bottom: .25em; }

.post-preview > a > .post-content-preview { line-height: 1.25em; margin: .5em 0; }

.post-preview > a:hover { color: #3e3d32; }

.post-preview > .post-meta { color: #a6e22e; padding-bottom: .25em; line-height: 1.25em; }

.justify-content-between { justify-content: space-between; }

.d-flex { display: flex; }

.outer { display: grid; grid-template: 1fr / 1fr; place-items: center; }

.outer > * { grid-column: 1 / 1; grid-row: 1 / 1; }

.outer .below { width: 100%; height: 100%; z-index: 2; }

.outer .top { z-index: 1; }

.lol:hover { box-shadow: 0 0 10px 5px rgba(56, 206, 234, 0.2); }

.some-other-class { width: auto; height: auto; margin: .5em; }

.gallery > p { text-align: center; }

.progress { background: #000; border-radius: 2px; height: 5px; margin-bottom: .5em; margin-top: .125em; width: 100%; }

.progress .progress-1 { background-color: #e61a1a; height: 100%; width: 10%; }

.progress .progress-2 { background-color: #cc331a; height: 100%; width: 20%; }

.progress .progress-3 { background-color: #b34d33; height: 100%; width: 30%; }

.progress .progress-4 { background-color: #996633; height: 100%; width: 40%; }

.progress .progress-5 { background-color: #80804d; height: 100%; width: 50%; }

.progress .progress-6 { background-color: #66994d; height: 100%; width: 60%; }

.progress .progress-7 { background-color: #4db366; height: 100%; width: 70%; }

.progress .progress-8 { background-color: #33cc66; height: 100%; width: 80%; }

.progress .progress-9 { background-color: #1ae680; height: 100%; width: 90%; }

.progress .progress-10 { background-color: #00ff80; height: 100%; width: 100%; }

.nav .right > label .hamburger { display: none; }

.nav .right #hamburger { display: none; }

@media screen and (max-width: 768px) { .site-content { max-width: 90%; } .nav { display: block; margin: 0 0; max-width: 100%; position: sticky; text-align: justify; padding: 0; } .nav .right { display: block; max-width: 100%; margin: 0 0; text-align: right; position: sticky; } .nav .right label { display: inline-block; color: #f8f8f2; background: #f92672; font-style: normal; font-size: 1.2em; padding: 10px; } .nav .right label > .hamburger { display: block; } .menu-item { display: none; } .menu-item > a { box-sizing: border-box; display: block; width: 100%; border-top: 1px solid #ae81ff; } .nav .right input:checked ~ .menu-item { display: block; } }

html, body { padding: 0; margin: 0; }

/*# sourceMappingURL=main.css.map */