---
layout: default
---


<div class="project-inner">
  <div class="game-title"><h1>{{ page.title }}</h1></div>
  <div class="game-minibar"> {{ page.tags | array_to_sentence_string: " " }} | {{ page.year }} | {{ page.status }}</div>

  <div class="wrapper">
    <div class="game-description">
      {{ content }}
    </div>
    {% if page.images != nil %}
    <div class="project-images">
    {% for images in page.images %}
      {% capture image %}
        /assets/images/{{page.name | remove: ".md" }}/{{images}}
      {% endcapture %}
      <a href={{ image }}><img class="screenshot" src={{ image }}></a>
    {% endfor %}
    </div>
    {% endif %}
  </div>



  {% if page.download[0].name != nil %}
  <div class="download">
    {% for download in page.download %}
    <div class="btn-{{download.name}}">
      <a href="{{ download.url }}"><i class="{{ download.icon }}"></i> {{download.name}}</a>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  {% include categories.html %}
</div>